body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* Color de fondo azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #4fc3f7; /* Fondo azul suave */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: #ffffff; /* Texto blanco */
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0288d1; /* Botón azul fuerte */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #01579b; /* Cambio de color al pasar el mouse */
}

.resultado-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.resultado-article {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #81d4fa; /* Fondo azul intermedio */
}

h2 {
    font-size: 18px;
    color: #ffffff;
}

.imagen-signo {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: #ffffff;
}
